html {
    background-color: lightcyan;
}
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightcyan;
    padding-bottom: 20px;
}

.directions {
    padding: 5px;
    text-align: center;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding:20px;
    background-color: lightcyan;
}

.btnPic {
    height: 100px;
    width: auto;
    padding: 10px;
}

.button {
    background-color:whitesmoke;
    border-radius: 7px;
    border-width: 2px;
}

.scoreBoard{
    display: flex;
    justify-content: center;
    gap:15px;
    background-color: lightcyan;
}

.choices{
    display: flex;
    background-color: lightcyan;
    height: auto;
    margin: auto;
    justify-content: center;
}